@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

#rateMe {
    font-size: 25px;
}

#commentTitle {
    font-weight: bold;
}

#leftRate {
    font-size: 15px;
    width: 3%;
}