<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product Comments</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="lib/lodash.js"></script>
        <script src="lib/angular.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
    </head>
    <body>
        <main class="container" ng-app="rateApp" ng-controller="rateController">
            <section>
                <img src="img/super-bass-o-matic-76.jpg" alt="product picture" class="product-picture">
                <h1>The Super Bass-o-Matic '76</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque deserunt ullam repudiandae nisi corporis! Ipsum, ducimus commodi, itaque porro distinctio consequuntur! Autem doloremque numquam nemo ex nulla tempora quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nihil doloribus excepturi quisquam error possimus veritatis facere, commodi cumque ab atque dolore ducimus obcaecati ipsa, impedit! Consequuntur, eligendi iure cumque!</p>
                <p>
                    <button class="btn btn-primary" ng-click="refreshRate()">Refresh</button>
                    <img src="img/ajax-spinner-sm.gif" alt="loading animation" ng-if="loading || updating"/>
                </p>
            </section>

            <section>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add a Gold Star Comment</h3>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="addRate()">
                            <div class="container-fluid">
                                <div id="rateMe">
                                    <label for="rate-priority">Rate Me: </label>
                                    <rating id="rateStar" max="5" ng-model="newRate.priority"></rating>
                                </div>
                                <div class="row" ng-if="newRate.priority">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="rate-title">Short Title</label>
                                            <input type="text" id="rate-title" class="form-control"
                                            placeholder="short title for your comment" ng-model="newRate.title"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="rate-name">Name</label>
                                            <input type="text" id="rate-name" class="form-control"
                                            placeholder="First & Last Name" ng-model="newRate.name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="newRate.priority">
                                    <label for="task-body">Comment</label>
                                    <input type="text" id="task-body" class="form-control"
                                    placeholder="Write your comment here" ng-model="newRate.body"/>
                                </div>
                            </div>
                            <div class="form-group" ng-if="newRate.priority">
                                <button type="submit" id="goldSubmit" class="btn btn-primary" ng-disabled="inserting">Save Comment</button>
                                <img src="img/ajax-spinner-sm.gif" alt="loading animation" ng-if="inserting"/>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <section>
                <h2>Comments</h2>
                <p id="noComment" ng-if="rates && rates.length == 0">No comments yet.  However, you can be the first to review this!</p>
                <p id="noComment" ng-if="newRate.priority">Gold Star Comment!!!</p>
                <div id="comments" class="container-fluid" ng-repeat="rate in rates | orderBy: sortCol">
                    <div class="row" id="reviewStar">
                        <div class="col-md-1" id="leftRate">
                            <span class="glyphicon glyphicon-chevron-up" ng-click="incrementRate(rate, 1)"></span>
                            <p>{{rate.score}}</p>
                            <span class="glyphicon glyphicon-chevron-down" ng-click="incrementRate(rate, -1)" ng-if="rate.score > 0"></span>
                        </div>
                        <div class="col-md-11">
                            <div class="row">
                                <button id="delete" class="btn btn-danger" ng-click="deleteRate(rate)">Delete</button>
                                <div class="col-md-2">
                                    <rating id="rateStar" max="5" ng-model="rate.priority" ng-change="updateRate(rate)" readonly="!comment.done"></rating>
                                </div>
                                <div class="col-md-3" id="commentTitle">
                                    <p>{{rate.title}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <span>by </span><p id="rateName">{{rate.name}}</p>
                                </div>
                            </div>
                            <p>{{rate.body}}</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="js/app.js"></script>
    </body>
</html>